version: 2.0.{build}

image: Visual Studio 2015

branches:
  only:
  - master

environment:
  MAVEN_HOME: C:\maven\apache-maven-3.3.9
  PATH: C:\maven\apache-maven-3.3.9\bin;$(JAVA_HOME)\bin;C:\Program Files (x86)\Windows Kits\10\bin\x64;$(PATH)
  MAVEN_OPTS: -Xmx4g
  JAVA_OPTS: -Xmx4g
  M2: $(USERPROFILE)\.m2


install:

  # Prepare VC environment
  - |
   "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat"

  # Install Maven if not present
  - ps: |
      Add-Type -AssemblyName System.IO.Compression.FileSystem
      if (!(Test-Path -Path "C:\maven" )) {
        (new-object System.Net.WebClient).DownloadFile(
          'https://dlcdn.apache.org/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.zip',
          'C:\maven-bin.zip'
        )
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")

      }

# Ignore changes that not affect the build
skip_commits:
  files:
    - '**/*.md'
    - '**/*.txt'
    - '**/.gitignore'
    - '**/.project'
    - '**/.classpath'
    - 'appveyor-mvn-release.yml'
    - 'appveyor-deploy.yml'

# For build and test we need to pass -Djna.nosys=true  to avoid exception:
# java.lang.UnsatisfiedLinkError: Can't obtain updateLastError method for class com.sun.jna.Native
build_script:
  - mvn clean install -B -Djna.nosys=true

test: off
# Maven run the tests as part of the build we do not need to run them again

cache:
  # Cache Maven and m.2
  - '%MAVEN_HOME%'
  - '%M2%'
